#topic-main
  .topic-list
  .topic-list-menu
  .topic-list-menu-item
  .topic-item-box
  .topic-item-link {
  color: var(--dark-gray-color);
  font-size: var(--font-size-sm);
}

#topic-main
  .topic-list
  .topic-list-menu
  .topic-list-menu-item
  .topic-item-box
  .topic-item-link:hover {
  color: var(--secondary-color);
}
